# https://docs.docker.com/engine/reference/builder/#dockerignore-file
/*
!/Pipfile
!/Pipfile.lock
!/plextraktsync.sh
!/plextraktsync/*.py
!/plextraktsync/commands/*.py
!/plextraktsync/config.default.yml
!/plextraktsync/config/*.py
!/plextraktsync/decorators/*.py
!/plextraktsync/logger/*.py
!/plextraktsync/plex/*.py
!/plextraktsync/servers.default.yml
!/plextraktsync/util/*.py
