# https://docs.docker.com/engine/reference/builder/#dockerignore-file
/*
!/Pipfile
!/Pipfile.lock
!/plextraktsync/config.default.json
!/plextraktsync/*.py
!/plextraktsync/commands/*.py
!/plextraktsync/decorators/*.py
