layout python python3.8

# Pipenv found itself running within a virtual environment,
# so it will automatically use that environment,
# instead of creating its own for any project.
export PIPENV_VERBOSITY=-1

# To enable deprecations:
#export PYTHONWARNINGS=default
#export PYTHONWARNINGS=error

[[ -f .envrc.local ]] && source_env .envrc.local

# vim:ft=bash
