__pycache__/
/.direnv
/.env
/.envrc.local
/.idea/
/.pytrakt.json
/.venv/
/.vscode/
/*.egg-info/
/config.json
/config.json.old
/config.yml
/config/
/dist/
/docker-compose.override.yml
/last_update.log
/plextraktsync.log
/servers.yml
/tests/.env
/tests/config.json
/trakt_cache.sqlite
