/.direnv
/.env
/.envrc.local
/.idea/
/.pytrakt.json
/.vscode/
/config.json
/config.yml
/config/
/dist/
/docker-compose.override.yml
/last_update.log
/plextraktsync.log
/tests/.env
/tests/config.json
/trakt_cache.sqlite
__pycache__/
