[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
apluggy = "==0.9.4"
attrs = "==24.2.0"
cattrs = {version="==24.1.2", python_version=">='3.7'"}
certifi = "==2024.8.30"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
decorator = "==5.1.1"
deprecated = "==1.2.14"
humanize = "==4.10.0"
idna = {version="==3.10", python_version=">='3.5'"}
inquirerpy = "==0.3.4"
markdown-it-py = {version="==3.0.0", python_version=">='3.7'"}
mdurl = {version="==0.1.2", python_version=">='3.7'"}
oauthlib = "==3.2.2"
pfzy = {version="==0.3.4", markers="python_version >= '3.7' and python_version < '4.0'"}
platformdirs = {version="==4.3.6", python_version=">='3.7'"}
plexapi = "==4.15.16"
pluggy = "==1.5.0"
prompt-toolkit = "==3.0.48"
pygments = "==2.18.0"
python-dotenv = "==1.0.1"
python-git-info = "==0.8.3"
pytimeparse = "==1.1.8"
pytrakt = "==3.4.32"
pyyaml = "==6.0.2"
requests = "==2.32.3"
requests-cache = "==1.2.1"
requests-oauthlib = {version="==2.0.0", python_version=">='3.4'"}
rich = "==13.8.1"
six = {version="==1.16.0", python_version=">='3.4'"}
tqdm = "==4.66.5"
typing-extensions = {version="==4.12.2", python_version=">= '3.8'"}
url-normalize = {version="==1.4.3", python_version=">='3.6'"}
urllib3 = "==2.2.3"
wcwidth = "==0.2.13"
websocket-client = "==1.8.0"
wrapt = {version="==1.16.0", python_version=">='3.5'"}

[requires]
python_version = "3"

[scripts]
plextraktsync = "python -m plextraktsync"
