[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
click = "==8.0.1"
deprecated = "==1.2.13"
plexapi = "==4.7.2"
python-dotenv = "==0.19.0"
python-git-info = "==0.7.1"
requests = ">=2.25.1"
requests-cache = "==0.8.1"
rich = "==10.11.0"
tqdm = "==4.62.3"
trakt = "==3.2.1"
urllib3 = ">=1.26.6"
websocket-client = "==1.2.1"
inquirerpy = "==0.2.4"

[requires]
python_version = "3"

[scripts]
plex-trakt-sync = "python -m plex_trakt_sync"
