[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
click = "==8.1.3"
deprecated = "==1.2.13"
inquirerpy = "==0.3.3"
plexapi = "==4.10.1"
python-dotenv = "==0.20.0"
python-git-info = "==0.7.1"
pyyaml = "==6.0"
requests = ">=2.25.1"
requests-cache = "==0.9.1"
rich = "==12.4.1"
tqdm = "==4.64.0"
trakt = "==3.4.0"
urllib3 = ">=1.26.6"
websocket-client = "==1.3.2"

[requires]
python_version = "3"

[scripts]
plextraktsync = "python -m plextraktsync"
