-i https://pypi.org/simple
apluggy==0.9.4
attrs==24.2.0; python_version >= '3.7'
cattrs==24.1.1; python_version >= '3.8'
certifi==2024.8.30; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7
decorator==5.1.1
deprecated==1.2.14
exceptiongroup==1.2.2; python_version >= '3.7'
humanize==4.10.0; python_version >= '3.8'
idna==3.10; python_version >= '3.6'
inquirerpy==0.3.4
markdown-it-py==3.0.0; python_version >= '3.7' and python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
oauthlib==3.2.2
pfzy==0.3.4; python_version >= '3.7' and python_version < '4.0'
platformdirs==4.3.6; python_version >= '3.8'
plexapi==4.15.16; python_version >= '3.8'
pluggy==1.5.0
prompt-toolkit==3.0.47; python_full_version >= '3.7.0'
pygments==2.18.0; python_version >= '3.8'
python-dotenv==1.0.1
python-git-info==0.8.3
pytimeparse==1.1.8
pytrakt==3.4.32
pyyaml==6.0.2; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
requests-cache==1.2.1; python_version >= '3.8'
requests-oauthlib==2.0.0; python_version >= '3.4'
rich==13.8.1; python_full_version >= '3.7.0'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3' and python_version >= '3.4'
tqdm==4.66.5; python_version >= '3.7'
types-decorator==5.1.8.20240310; python_version >= '3.8'
typing-extensions==4.12.2; python_version >= '3.8'
url-normalize==1.4.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5' and python_version >= '3.6'
urllib3==2.2.3; python_version >= '3.8'
wcwidth==0.2.13
websocket-client==1.8.0
wrapt==1.16.0; python_version >= '3.5'
