-i https://pypi.org/simple
apluggy==0.9.4
attrs==23.2.0
cattrs==23.2.3; python_version >= '3.7'
certifi==2024.2.2; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7
decorator==5.1.1
deprecated==1.2.14
exceptiongroup==1.2.1; python_version < '3.11'
humanize==4.9.0
idna==3.7; python_version >= '3.5'
inquirerpy==0.3.4
markdown-it-py==3.0.0; python_version >= '3.7'
mdurl==0.1.2; python_version >= '3.7'
oauthlib==3.2.2
pfzy==0.3.4; python_version >= '3.7' and python_version < '4.0'
platformdirs==4.2.2; python_version >= '3.7'
plexapi==4.15.13; python_version >= '3.8'
pluggy==1.5.0
prompt-toolkit==3.0.43
pygments==2.18.0
python-dotenv==1.0.1
python-git-info==0.8.3
pytimeparse==1.1.8
pytrakt==3.4.32
pyyaml==6.0.1
requests==2.32.2; python_version >= '3.8'
requests-cache==1.2.0
requests-oauthlib==2.0.0; python_version >= '3.4'
rich==13.7.1
six==1.16.0; python_version >= '3.4'
tqdm==4.66.4
types-decorator==5.1.8.20240310; python_version >= '3.8'
typing-extensions==4.11.0; python_version < '3.11'
url-normalize==1.4.3; python_version >= '3.6'
urllib3==2.2.1; python_version >= '3.8'
wcwidth==0.2.13
websocket-client==1.8.0
wrapt==1.16.0; python_version >= '3.5'
