name: Test

on:
  - pull_request

env:
  DEFAULT_PYTHON: 3.8

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
          cache: pip
      - name: Install dependencies (pip)
        run: python -m pip install -r requirements.txt -r requirements.pipenv.txt
      - name: Install dependencies (pipenv)
        run: pipenv install --deploy
      - name: Install test dependencies
        run: pip install -r tests/requirements.txt

      - name: "Test: info"
        run: ./plextraktsync.sh info
      - name: "Test: pytest"
        run: pytest
# vim:ts=2:sw=2:et
